body {
    display: block;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    background-color: #bbbbbb;
  }

  li {
    display: inline;
    float: left;
    padding: 10px;
    background-color: #bbbbbb;
    font-size: 12pt;
  }

  @keyframes example {
    from {background-color: #bbbbbb;}
    to {background-color: #cccccc;}
  }

  li:hover {
    /*background-color: #cccccc;*/
    animation-name: example;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    background-color: #cccccc;
  }

  a {
    color:white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .main {
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  p {
    text-indent: 2.0em;
    margin: 10px;
  }